$floral-white: #fff8f0ff;
$black: #020202ff;

@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: url('../images/background_image.png');
    background-size: cover;
    background-repeat: repeat-y; /* Repeat the image vertically */
    animation: scroll 60s linear infinite;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 2rem;
    height: 375px;
    color: $floral-white;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    .logo{
        width: 275px;
        height: 275px;
        border: $floral-white 5px solid;
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: rotate 0.5s ease-in-out, scale 0.5s ease-in-out;
        &:hover{
            scale: 1.1;
            rotate: 10deg;
            cursor: pointer;
        }
    }
    .menu-btn{
        color: $floral-white;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        border: $floral-white .125em solid;
        padding: 0.25em 1em;
        border-radius: 0.25em;
        text-shadow: 0 0 0.45em $floral-white;
        box-shadow: 0 0 0.5em $floral-white, 
                    inset 0 0 0.5em $floral-white;

        transition: 0.5s;
        a{
            text-decoration: none;
            color: $floral-white;
        }
        &:hover{
            background-color: $floral-white;
            text-shadow: none;
            font-size: 2.5rem;
            a{
                color: $black;
            }
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    
        .flex-container {
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: 1s;
            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -10%);
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                z-index: 0;
                color: #d6d6d6;
                transition: 0.5s;
                button{
                    margin-top: 1rem;
                    padding: 0.5rem 1rem;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                    background-color: #000000;
                    color: $floral-white;
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover {
                        background-color: #750000;
                    }
                    a{
                        text-decoration: none;
                        color: $floral-white;
                    }
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #2752a1;
                opacity: 1;
                z-index: -1;
                transition: 0.5s;
                border-radius: 20px;
            }
            .image-container {
                border-radius: 20px;
                transition: 0.5s;
                max-width: 400px;
                max-height: 400px;
                position: absolute;
                bottom: 0;
                img {
                    position: relative;
                    top: 0;
                    left: 0;
                    height: 400px;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                    transition: 0.5s;
                    border-radius: 20px;
                }
            }
            &:hover {
                .content {
                    transition: 0.5s;
                    transform: translate(-50%, 30%);
                }
                &::before {
                    transform: translate(0, 30%);
                    transition: 0.5s;
                }
                img {
                    top: -70%;
                    scale: 1.1;
                    // shadow
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}


.lorem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $floral-white;
    flex-direction: column;
    font-size: 2rem;
    padding: 2rem;
}